<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Languages</title>
    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-bordered border-dark text-center">
            <thead>
            <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Creator</th>
                <th scope="col">Version</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="language : ${languages}">
                <td>
                    <a th:href="@{/languages/{id}(id=${language.id})}" th:text="${language.name}"></a>
                </td>
                <td th:text="${language.creator}"></td>
                <td th:text="${language.currentVersion}"></td>
                <td class="d-flex flex-row justify-content-center">
                    <form th:action="@{/languages/{id}(id=${language.id})}" th:method="delete">
                        <input class="btn btn-link link-dark" type="submit" value="delete">
                    </form>
                    <a class="d-flex align-items-center link-dark" th:href="@{/languages/{id}/edit(id=${language.id})}">edit</a>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/languages}" th:method="post" th:object="${language}">
            <div class="mb-3 row px-4">
                <p class="text-danger" th:text="${#fields.hasErrors('name')} ? ${#fields.errors('name')}"></p>
                <label for="name" class="col-sm-6 col-form-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="px-2 form-control-plaintext border-2 border-dark" name="name" id="name"
                           th:value="${language.name}" autofocus>
                </div>
            </div>
            <div class="mb-3 row px-4">
                <p class="text-danger" th:text="${#fields.hasErrors('creator')} ? ${#fields.errors('creator')}"></p>
                <label for="creator" class="col-sm-6 col-form-label">Creator</label>
                <div class="col-sm-6">
                    <input type="text" class="px-2 form-control-plaintext border-2 border-dark" name="creator" id="creator"
                           th:value="${language.creator}">
                </div>
            </div>
            <div class="mb-3 row px-4">
                <p class="text-danger" th:text="${#fields.hasErrors('currentVersion')} ? ${#fields.errors('currentVersion')}"></p>
                <label for="version" class="col-sm-6 col-form-label">Version</label>
                <div class="col-sm-6">
                    <input type="text" class="px-2 form-control-plaintext border-2 border-dark" name="currentVersion" id="version"
                           th:value="${language.name}">
                </div>
            </div>
            <div class="d-flex flex-row-reverse px-4">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>