<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${language.name}"></title>
    <!-- BOOTSTRAP  -->
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="d-flex flex-row-reverse px-5">
        <a class="d-flex align-items-center link-dark px-5 py-5" href="/languages">Dashboard</a>
    </div>
    <ul class="list-group px-5">
        <li class="list-group-item" th:text="${language.name}"></li>
        <li class="list-group-item" th:text="${language.creator}"></li>
        <li class="list-group-item" th:text="${language.currentVersion}"></li>
        <li class="list-group-item d-flex">
            <a class="align-items-center" th:href="@{/languages/{id}/edit(id=${language.id})}">Edit</a>
        </li>
        <li class="list-group-item d-flex ">
            <form th:action="@{/languages/{id}(id=${language.id})}" th:method="delete">
                <input class="btn btn-link d-flex p-0" type="submit" value="Delete">
            </form>
        </li>
    </ul>
</body>
</html>